node_modules
/.vscode
/libnode
/libqjs
/node
/quickjs
/icu
/buffer
/string_decoder
/base64-js
/ieee754
/stream
/component-emitter
*.exe
*.obj
/lib/iconv-lite.js
/lib/buffer.js
/lib/stream.js
/lib/string_decoder.js
*.js.LICENSE.txt