node_modules
/.vscode
/libqjs
/quickjs
/libuv
/uv
/uvw
/node
*.exe
*.obj
/src/resource.res

/shims/*-*
/lib/*.corelib.js
/lib/internal
/lib/deps
/lib/primordials.js
/lib/util.js
/lib/console.js
/lib/events.js
/lib/assert.js
/lib/buffer.js